/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Roboto+Condensed:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



:root {
    /* --background_color: #101010;
    --main_color: #d9d9d9; */
    --background_color: #101010;
    --main_color: #EFEFEF;
    --accent_color: #FF8066;
    --container-width: 1600px;
}


.dark-theme {
    --background_color: #EFEFEF;
    --main_color: #101010;
    --accent_color: #0097EC;
}


*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--accent_color);
    opacity: .8;
  }

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--background_color);
    color: var(--main_color);
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
}



.logo {
    width: 150px;
    position: absolute;
    margin: 20px 20px;
    color: #FF8066;
}

.link {
    text-decoration: none;
    color: var(--accent_color);
}

.message {
    width: 800px;
}

.message p {
    padding: 10px;
}

.header {
    font-size: 50px;
    font-weight: 800;
    color: var(--main_color);
    /* -webkit-text-stroke: 1px var(--main_color); */
    
}

.slantedStyle {
    font-style: italic;
}

.subheader {

}

.aboutsection {
    padding: 120px 0px 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
    width: var(--container-width);
    margin: auto;
    color: var(--main_color);
    border-top: 1px solid var(--main_color);
}

svg {
    fill: var(--main_color);
}

.aboutsection ul {
    translate: 35px;
}

.aboutsection img {
    width: 750px; 
    /* margin-right: 50px; */
    border-radius: 15px; 
    padding: 10px;
    box-shadow: -5px 5px 0px 0px var(--main_color), inset 0px 0px 0px 1px var(--main_color);
    margin-bottom: 10px;
    background-color: var(--background_color);
    
}

.picturesection {
    width: 750px; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-right: 50px;
}

.caption {
    font-style: italic;
    font-size: smaller;
    color: var(--main_color);
    opacity: .7;
}

/* .scrollWheel img {
    filter: invert(1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 150px;
    padding: 10px;

} */

.container {
    width: var(--container-width);
    margin: auto;
    display: flex;
    overflow: hidden;
}

.active {
    display: inline-block;
    position: relative;
    
}

.active::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 100%;
    left: 0;
    background-color: var(--accent_color);
    transform-origin: bottom right;
    animation: active .5s 1;
    z-index: -1;
    border-radius: 15px;
}

header {
    position: fixed;
    z-index: 1050;
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main_color);
    background-color: var(--background_color);
    width: 100vw;
}

header nav {
    width: var(--container-width);
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 5px;
    margin: auto;
}

header ul {
    display: inline-flex;
    list-style: none;
    column-gap: 40px;
    text-wrap: wrap;
}

header ul a {
    text-decoration: none;
    color: var(--main_color);
    /* text-transform: uppercase; */
    font-weight: 400;
    font-size: 20px;
    padding: 0px 10px;
}


.hoverAnimation {
    display: inline-block;
    position: relative;
}

.hoverAnimation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -1px;
    left: 0;
    background-color: var(--accent_color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hoverAnimation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.opening {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.opening img {
    filter: invert(0);
}

.skyline-1 {
    position: absolute;
    z-index: 2;
    width: 2000px;
    top: calc(68%);
    left: calc(var(--container-width) - (var(--container-width)/2));
    transform: translate(-50%, -50%);
    /* opacity: .5; */

}

.balloon {
    position: absolute;
    z-index: 4;
    width: 125px;
    top: 25%;
    left: calc(var(--container-width) - 300px );
    transform: translate(-50%, -50%);
    opacity: 100;
}


.skyline-3 {
    position: absolute;
    z-index: 5;
    width: 2000px;
    top: 78%;
    left: calc(var(--container-width) - (var(--container-width)/2));
    transform: translate(-50%, -50%);
    /* opacity: .8; */
}

.track {
    position: absolute;
    z-index: 6;
    width: 2000px;
    top: calc(95%);
    left: calc(var(--container-width) - (var(--container-width)/2));
    transform: translate(-50%, -50%);
    opacity: 100;
}

.train {
    position: absolute;
    z-index: 6;
    width: 600px;
    top: calc(95vh - 80px);
    left: calc(var(--container-width) + (var(--container-width)/2));
    transform: translate(-50%, -50%);
    opacity: 0;
}

.building-right {
    position: absolute;
    z-index: 7;
    width: 400px;
    top: 88%;
    left: calc(100px);
    transform: translate(-50%, -50%);
    opacity: 100;
}

.building-middle {
    position: absolute;
    z-index: 8;
    width: 400px;
    top: 90%;
    left: calc(var(--container-width) - (var(--container-width)/2));
    transform: translate(-50%, -50%);
    opacity: 100;
}

.building-left {
    position: absolute;
    z-index: 9;
    width: 400px;
    top: 88%;
    left: calc(var(--container-width) - 50px);
    transform: translate(-50%, -50%);
    opacity: 100;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);


}







.introduction {
    position: relative;
    top: 150px;
    left: 10px;
    z-index: 1000;
    overflow: hidden;
    font-size: 32px;
    /* padding-left: 5px; */
    color: var(--main_color);
}

.name {
    color: var(--main_color);
    text-wrap: nowrap;
    /* animation: nameshow 2s ease-in-out 1; */
    font-size: 68px;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    padding-top: 5px;
}

.name::after {
    content: '';
    position: absolute;
    display: block;
    height: 2.75rem;
    top: 0;
    left: 0;
    background-color: var(--accent_color);
    z-index: -1;
    /* animation: namehighlight 2s ease-in-out 1; */
}

.jobLabels {
    padding-top: 75px;

}

.occupation {
    font-weight: 700;
    color: var(--main_color);
    font-size: 120px;
    overflow: hidden;
    transform: translate(-8px, -20px);

}

.main {
    display: block;
    position: relative;
    text-wrap: nowrap;
    animation: mainshow 2s ease-in-out 1;
    overflow: hidden;
}

.main::after {
    content: '';
    position: absolute;
    height: 9rem;
    top: 1rem;
    left: 0;
    width: 0px;
    background-color: var(--accent_color);
    z-index: -1;
    animation: mainhighlight 2s ease-in-out 1;
    /* transform: translate(-8px, 0px); */
}

.second-line {
    transform: translate(0, -15px);
    height: 8rem;
}


.text-cycle {
    background-color: var(--accent_color);
    color: var(--main_color);
    display: block;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    padding-left: 0rem;
    text-wrap: nowrap;
    width: 0px;
    animation: openclose 10s ease-in-out infinite;
}

.text-cycle::after{
    background-color: var(--accent_color);
    color: var(--main_color);
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: relative;
    padding-left: 0.5rem;
    text-wrap: nowrap;
    width: 550px;
    animation: openclose 10s ease-in-out infinite;
}











.section {
    display: flex;
    padding: 0px 15px;
    width: var(--container-width);
   
}

.right {
    justify-content: right;
}

.project_box {
    width: 900px;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
    transition: transform .3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 75px;
}

.info {
    padding-top: 10px;
    color: #d9d9d9;
    font-size: 16px;
}

.faded {
    opacity: .5;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    column-gap: 5px;
    row-gap: 15px;
    opacity: .7;
    padding-top: 10px;
}

.skills p {
    padding: 2px 10px;
    border-radius: 15px;
    /* border: 1px solid white; */
    background-color: #202020;
}

.project_title {
    max-width: fit-content; 
    font-size: 40px;
}

.secondary_text {
    font-size: 28px;
}

.project_img {
    width: 900px;
    margin: auto;
    border-radius: 10px;
    position: relative;
}

.button {
    padding-top: 10px;
    padding-left: 5px;
    width: fit-content;
}

.project_box:hover .button {
    color: #FF8066;
}


.pattern{
    background-color: var(--background_color);
    opacity: 0.1;
    background-image: radial-gradient(var(--main_color) 1px, var(--background_color) 1px);
    background-size: 40px 40px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
}



.break {
    position: relative;
    margin: 150px auto;
    height: 1px;
    width: var(--container-width*.7);
    display: flex;
    background-color: var(--main_color);
    opacity: .5;
}




.footer {
    margin: 50px auto 0px;
    background-color: var(--background_color);
    width: 100vw;
    height: fit-content;
    border-top: 1px solid var(--main_color);
    
}

.footerinfo {
    width: var(--container-width);
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10px;
    color: var(--main_color);
    margin: auto;
    
}


.footer a {
    align-items: center;
    padding-top: 10px;
    display: flex;
    width: fit-content;
    text-decoration: none;
    color: var(--main_color);

}

.footer a svg {
    padding-right: 4px;
    fill: var(--main_color);
}

.ethos {
    justify-content: end;
}

.footer a:hover svg {
    fill: var(--accent_color);
    transition: .5s 
}



@keyframes active {
    0% {
        width: 0%;
      }
    100% {
        width: 100%;
      }
}



@keyframes namehighlight {
    0% {
        width: 0;
      }
    50% {
        width: 300px;
      }
    100% {
        width: 0;
      }

}

@keyframes nameshow {
    0% {
        width: 0;
      }
    50% {
        width: 300px;
      }
    100% {
        width: 300px;
      }

}

@keyframes mainhighlight {
    0% {
        width: 0;
      }
    50% {
        width: 600px;
      }
    100% {
        width: 0;
      }

}

@keyframes mainshow {
    0% {
        width: 0;
      }
    50% {
        width: 600px;
      }
    100% {
        width: 600px;
      }

}



@keyframes openclose {
    0% {
      top: -1rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 950px;
    }
    30% {
      top: -1rem;
      width: 950px;
    }
    33% {
      top: -1rem;
      width: 0;
    }
    35% {
      top: -155px;
      width: 0;
    }
    38% {
      top: -155px;
      
    }
    48% {
      top: -155px;
      width: 800px;
    }
    62% {
      top: -155px;
      width: 800px;
    }
    66% {
      top: -155px;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -294px;
      width: 0;
      /* text-indent: 5px; */
    }
    86% {
      top: -294px;
      width: 1050px;
    }
    95% {
      top: -294px;
      width: 1050px;
    }
    98% {
      top: -294px;
      width: 0;
      /* text-indent: 5px; */
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
















  
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }


  
.skillsLogos {
    overflow: hidden;
    padding: 60px 0;
    background: rgba(0, 0, 0, 0);
    white-space: nowrap;
    position: relative;
    width: var(--container-width);
  }
  
.skillsLogos:before,
.skillsLogos:after {
    position: absolute;
    top: 0;
    width: 5px;
    height: 100%;
    content: "";
    z-index: 2;
    
  } 
  
.skillsLogos:before {
    left: 0;
    background-color: var(--main_color);
  }
  
.skillsLogos:after {
    right: 0;
    background-color: var(--main_color);
 }
  

.logosSlide {
    display: inline-block;
    animation: 40s slide infinite linear;
  }
  
.logosSlide img {
    height: 125px;
    margin: 0 30px;
  }